@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

@font-face {
  font-family: MyCustomFont;
  src: url("../fonts/varsity_regular.ttf");
}
@font-face {
  font-family: Trajan_Pro_Bold;
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}

:root,
html {
  font-family: Roboto, sans-serif !important;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-padding-top: 70px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* 
#b19652
#f0c021
*/
:root {
  --colorPrimary: #f6a73a;
  --colorSecondary: #02495f;
  --colorWhite: #ffffff;
  --colorOffWhite: #f7f7f7;
  --colorBorderWhite: #dbe4e9;
  --colorBlack: #000000;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
  --colorBoxShadow: rgba(0, 0, 0, 0.075);
  --colorBrownBackground: #504140;
  --colorBrown: #372e28;
  --colorWhatsApp: #42db87;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorOffWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* All Sections */

.section-heading {
  font-size: 35px;
  text-align: center;
  color: var(--colorPrimary);
  text-transform: uppercase;
  font-family: "Trajan_Pro_Bold";
}
.sub-heading {
  color: var(--colorSecondary);
  font-family: "Trajan_Pro_Bold";
}
@media screen and (max-width: 600px) {
  .section-heading {
    font-size: 1.6em;
  }
  .sub-heading {
    font-size: 1em;
  }
}

/* Slider */
#slider_section {
  margin-top: 70px;
  /* min-height: 80vh; */
}

.carousel {
  overflow: hidden !important;
  /* max-height: 80vh; */
}

.carousel-item img {
  max-height: 80vh;
  width: 100% !important;
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banner/banner1.webp");
  }
  .carousel-item .banner2 {
    content: url("../img/banner/banner2.webp");
  }
}

/* Overview */
.overview_img img {
  border-radius: 20px;
  height: 400px;
}

/* Gallery */
@media screen and (min-width: 1000px) {
  .gall_img img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .gallery {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

  .gall_img img {
    width: 150px;
    height: 100px;
  }
}

@media screen and (max-width: 660px) {
  .gall_img img {
    width: 100px;
    height: 70px;
  }
}

.gall_img img {
  border: 3px solid var(--colorSecondary);
  /* border-radius: 10%; */
}

.gall_img img:hover,
.gall_main img:hover {
  border: 3px solid var(--colorPrimary);
  cursor: pointer;
}

.gall_main img {
  width: 100%;
  height: 100%;
  border: 3px solid var(--colorSecondary);
  /* border-radius: 5%; */
  margin: 10px 0;
}

/* Configuration */
.config_container .card {
  width: 19rem;
}

.prices_row {
  width: 80%;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .config_container {
    display: flex;
    justify-content: center;
  }
}

.prices_row .card img {
  height: 200px;
  border: 1px solid var(--colorBackgroundOverlay);
}

.price_badge {
  padding: 10px;
  top: 0;
  left: 75%;
  font-size: 1em;
  font-weight: normal;
  background-color: var(--colorPrimary);
}
.price_btn,
.price_btn:hover,
.price_btn:active {
  background-color: var(--colorPrimary) !important;
  border-color: var(--colorPrimary) !important;
}

/* Amenities */

.amenities_wrapper figure {
  min-width: 100%;
  max-width: 100%;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.amenities_wrapper figure img {
  width: 100%;
}

.amenities_wrapper figure img:hover {
  transform: scale(1.1);
}

.amenities_wrapper figcaption {
  padding: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: var(--colorPrimary);
}
.amenities_wrapper figcaption h3 {
  font-weight: 100;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 1.2em;
  color: var(--colorWhite);
}

/* Location */

.near-location {
  padding-bottom: 25px;
}
.locations-left {
  height: 500px;
  overflow-y: auto;
  text-align: start;
}
.near-location h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.near-location ul {
  /* padding-left: 0px; */
  font-size: 14px;
  /* font-weight: 200; */
}
@media screen and (max-width: 600px) {
  .locations-left {
    margin-top: 2em;
  }
}

/* About */
#about_section {
  background-color: #00354a;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 970px; */
  background-attachment: fixed;
  padding: 0 !important;
}
.about_overlay {
  background: var(--colorBackgroundOverlay);
  /* height: 970px; */
  padding: 0;
}
#about_section .sub-heading {
  color: var(--colorPrimary);
  font-size: 1.5em;
}

#about_section .sub-heading {
  letter-spacing: 3.5px;
}

.form-label {
  display: none;
}
.inputStyle {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
}
.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorPrimary) !important;
  border: none !important;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .enquire-section {
    padding: 0 !important;
  }
  .about-para-container {
    padding: 2em !important;
    padding-top: 2em;
  }
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
  color: var(--colorWhite);
}

/* Footer */
#footer {
  background-color: var(--colorBlack);
  padding: 40px 20px;
}
.qrcode {
  text-align: center;
  margin: 10px 20px;
  color: var(--colorWhite);
}

.qrcode img {
  /* display: block;
  margin: auto; */
  width: 100px;
  /* margin-bottom: 10px; */
}

/* Action Footer */
.action-footer-container {
  margin: 0;
  padding: 0;
}
.action-footer {
  margin: 0;
  padding: 7px;
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
  cursor: pointer;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  font-size: 0.8em;
}

.action-footer li {
  border-left: 1px solid var(--colorBlack);
}

.action-footer li:first-child {
  border-left: none !important;
}
/* For Desktop */
@media only screen and (min-width: 990px) {
  .action-footer {
    display: none;
  }
}

.form_norms {
  font-size: 0.75em;
  font-weight: bold;
}

.download_btn {
  color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}
.download_btn:hover,
.download_btn:active {
  border-color: var(--colorSecondary) !important;
  background-color: var(--colorSecondary) !important;
}

/* ----------------------------------------------------------- */
/* Thank You Page */

#thanku_section {
  margin-top: 5em !important;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanku_section h2 {
  font-family: MyCustomFont;
  letter-spacing: 0.1em;
  font-size: 5em;
}

#thanku_section p {
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  #thanku_section h2 {
    font-size: 2.3em;
  }
  #thanku_section p {
    padding: 0 1.2em;
    font-size: 0.8em;
  }
}
